<ion-header>
  <ion-toolbar>
    <ion-title>Mes visites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <ion-form [options]="formSettings">
    <ion-listview [options]="listviewSettings">
        <ion-listview-item *ngFor="let item of todo">{{ item.text }}
            <div class="md-timestamp mbsc-italic">{{ item.time }}</div>
        </ion-listview-item>
    </ion-listview>
    <div class="">
        <mbsc-button (click)="add()">Add new item</mbsc-button>
    </div>
  </ion-form> -->


</ion-content>
