<ion-split-pane>
  <ion-menu side="start" content-id="content">
      <ion-header translucent>
        <ion-toolbar color="secondary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content id="content"><ion-list><ion-item>he vik</ion-item></ion-list></ion-content>
    </ion-menu>


  </ion-split-pane>


 <!--     <ion-split-pane>
   <ion-menu contentId="main" >
 <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Custom Menu</ion-title>
    </ion-toolbar>
  </ion-header>
     <ion-content id="main">
    <ion-list>
      <ion-item><ion-icon name="home"></ion-icon>Accueil</ion-item>
      <ion-item> <ion-icon name="clipboard"></ion-icon>Nouvelle visite</ion-item>
      <ion-item><ion-icon name="calculator"></ion-icon>Calculateur</ion-item>
      <ion-item><ion-icon name="person"></ion-icon>Profil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
 </ion-split-pane>  -->